<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indoor Navigation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<nav>
    <h1 id="h1">Indoor Room Navigation</h1>
</nav>
<div class="container">
<div class="contain">
    <div id="searchcontainer">
    <form id="search-form">
<div class="centerinputfield">
        <input type="text" id="room-code" name="room-code" placeholder="Enter Room Code" required>
        <div class="buttoncenter">
        <button type="submit" id="button">Search</button>
        </div>
</div>
    </form>
    <div class="note">
        <h3>NB:</h3>
        <p>SJ: This part of the code refers to the building. In this case, Sparck Jones.</p>
        <p>The first number: This indicates the floor on which the room is located. Example, ‘1’ means the room is on the first floor</p>
        <p>The second number: This represents the room number. Example, '01’ is a specific room within the Sparck Jones Building on the first floor</p>
    </div>
        </div>
    <div id="floor-plan-container" style="display: none;">
        <h2>Floor Plan:</h2>
        <img id="floor-plan" src="" alt="Floor Plan" style="max-width: 100%; display: block;">
    </div>
</div>
</div>
    <script>

        document.getElementById("search-form").onsubmit = function (event) {
            event.preventDefault();
            const roomCode = document.getElementById("room-code").value;
            fetch(`/get_floor_plan/${roomCode}`)
                .then(response => response.json())
                .then(data => {
                    const floorPlanContainer = document.getElementById("floor-plan-container");
                    if (data.image_path) {
                        document.getElementById("floor-plan").src = data.image_path;
                        floorPlanContainer.style.display = "block";
                    } else {
                        alert("Room not found or floor plan unavailable.");
                    }
                });
        };
<!--        window.onload = function(){-->
<!--            alert("NB SJ: This part of the code refers to the building. In this case, Sparck Jones");-->
<!--        };-->


    </script>
</body>
</html>